//$primary: #0040ff;

@import "../../../src/brisk.scss";

h5 {
  /*text-transform: uppercase;*/
}

.code {
  white-space: pre-wrap;
  border-radius: $border-radius;
  background-color: $light;
  padding: $spacer;
  position: relative;

  code {
    background-color: inherit;
    padding: 0;
    border-radius: 0;
    color: $secondary;
  }

  &::after {
    content: attr(data-lang);
    position: absolute;
    right: 0;
    top: 0;
    margin: $spacer/2 $spacer;
    font-size: 0.8rem;
    color: $gray-2;
  }
}

code {
  background-color: lighten($primary, 42%);
  //background-color: lighten($warning, 40%);
  font-size: 0.9rem;
  color: $primary;
  //color: $warning;
  padding: 0.1em 0.5em;
  border-radius: $border-radius;
}

.example-light {
  background-color: lighten($primary, 42%);
  color: $primary;
  border-radius: $border-radius;
  padding: $spacer*2;
}

.example-frame {
  border-radius: $border-radius;
  border: $border-width solid $border-color;
  padding: $spacer * 2;
}

.hljs-comment {
  color: #CCC;
}

.hljs-name {
  color: #f55718;
}

.hljs-string {
  color: $primary;
}

.hljs-tag {
  color: #4f5a63;
}

.hljs-attr {
  color: #999;
}

/* make padding visible */

.show-padding-x {
  position: relative;

  &::after, &::before {
    content: '';
    @extend .bg-success;
    opacity: 0.25;
    width: 0;
    position: absolute;
    top: 0;
    height: 100%;
    z-index: -1;
  }

  &::before {
    padding-left: inherit;
    left: 0;
  }

  &::after {
    padding-right: inherit;
    right: 0;
  }
}