.notification {
    height: 1.3rem;
    min-width: 1.3rem;
    color: $white;
    background-color: $danger;
    position: absolute;
    right: 0;
    top: 0;
    padding: 0 .2em;
    font-size: .6rem;
    border-radius: .65rem;
    text-align: center;
    vertical-align: middle;
    line-height: 1.3rem;
    font-weight: 600;
    letter-spacing: 0;
    z-index: 1;
}