extends layout.pug

block content
  h1.mt-3 Elements
  h5.mt-5.text-uppercase Navigation
  p The Navigation Element is made to work as a Burger Menu and will only be fully visible at some breakpoint if you add the class <code>expand-&lt;breakpoint&gt;</code>. To open the menu add the class <code>open</code> to the <code>menu-container</code>-element.
  .example-frame.mb-3
    div(style="z-index: 1").nav-bar.bg-light
      .menu-container.expand-md.overlay
        span.h3.logo.float-left logo
        button.menu-toggler.float-right
          .menu-icon.menu-style1.menu-icon-primary
        .menu-content.menu-from-left.bg-white.float-right
          ul.menu-list
            li.menu-item: a.menu-link Link 1
            li.menu-item: a.menu-link Link 2
            li.menu-item: a.menu-link Link 3
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <div class="nav-bar bg-light">
          <div class="menu-container expand-md overlay">
            <span class="h3 logo float-left">Logo</span>
            <button class="menu-toggler float-right">
              <div class="menu-icon menu-style1 menu-icon-primary"></div>
            </button>
            <div class="menu-content menu-from-left bg-white float-right">
              <!-- this is where all the content goes -->
              <ul class="menu-list">
                <li class="menu-item"><a href="#">Link 1</a></li>
                <li class="menu-item"><a href="#">Link 2</a></li>
                <li class="menu-item"><a href="#">Link 3</a></li>
              </ul>
            </div>
          </div>
        </div>
  p For the icon there are 3 Styles available.
  .example-frame.mb-3
    button(style="z-index: 0").menu-toggler.display-inline-block.m-3: .menu-icon.menu-style1
    button(style="z-index: 0").menu-toggler.display-inline-block.m-3: .menu-icon.menu-style2
    button(style="z-index: 0").menu-toggler.display-inline-block.m-3: .menu-icon.menu-style3
  p If you want to use a fixed navigation with "position-fixed", use "mt-fixed-menu" for yout content.
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <div class="nav-bar bg-light position-fixed">
          <!-- your menu -->
        </div>
        <div class="mt-fixed-menu container">
          <!-- your content -->
        </div>
  h5.mt-5.text-uppercase Buttons
  .example-frame.mb-3
    button.btn.btn-primary.mr-1 Primary
    button.btn.btn-secondary.mr-1 Secondary
    button.btn.btn-success.mr-1 Success
    button.btn.btn-warning.mr-1 Warning
    button.btn.btn-danger.mr-1 Danger
    br
    button.btn.btn-alt-primary.mr-1 Primary
    button.btn.btn-alt-secondary.mr-1 Secondary
    button.btn.btn-alt-success.mr-1 Success
    button.btn.btn-alt-warning.mr-1 Warning
    button.btn.btn-alt-danger.mr-1 Danger
    .btn-group.mb-1
      button.btn.btn-primary Group
      button.btn.btn-alt-secondary Group
      button.btn.btn-alt-secondary Group
    button.btn.btn-primary.btn-xl.mr-1 Button Extra Large
    button.btn.btn-primary.btn-lg.mr-1 Button Large
    button.btn.btn-primary.mr-1 Button Normal
    button.btn.btn-primary.btn-sm.mr-1 Button Small
    br
    button.btn.btn-primary.btn-circle.btn-sm.mr-1 A
    button.btn.btn-primary.btn-circle.mr-1 A
    button.btn.btn-primary.btn-circle.btn-lg.mr-1 A
    button.btn.btn-primary.btn-circle.btn-xl A
    br
    button.btn.btn-primary.btn-square.btn-sm.mr-1 A
    button.btn.btn-primary.btn-square.mr-1 A
    button.btn.btn-primary.btn-square.btn-lg.mr-1 A
    button.btn.btn-primary.btn-square.btn-xl A
    br
    button.btn.btn-primary.loading.mr-1 Loading
    button.btn.btn-alt-secondary.loading Loading
  p Code Example:
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <!-- regular primary button -->
        <button class="btn btn-primary">button</button>
        <!-- alternative (outline) primary button -->
        <button class="btn btn-alt-primary">Button</button>
        <!-- button sizes -->
        <button class="btn btn-primary btn-xl">button</button>
        <button class="btn btn-primary btn-lg">button</button>
        <button class="btn btn-primary">button</button>
        <button class="btn btn-primary btn-sm">button</button>
        <!-- example of a button group -->
        <div class="btn-group mb-2">
          <button class="btn btn-primary">Button</button>
          <button class="btn btn-alt-secondary">Button</button>
          <button class="btn btn-alt-secondary">Button</button>
        </div>
        <!-- square or circle buttons (works with size options) -->
        <button class="btn btn-primary btn-square btn-lg">A</button>
        <button class="btn btn-primary btn-circle btn-sm">A</button>
        <!-- loading -->
        <button class="btn btn-primary loading">Button</button>
  h5.mt-5.text-uppercase Form
  .example-frame.mb-3
    .form-group.w-50
      label.form-label Label
      input.form-input(placeholder="Placeholder")
    .form-group.form-input-light.w-50
      label.form-label Label
      input(placeholder="Placeholder")
    .form-group.w-50
      label.form-switch
        input(type="checkbox")
        i.switch
        span toggle me
    .form-group.w-50
      label.form-checkbox
        input(type="checkbox")
        i.checkbox
        span check me
    .form-group.w-50
      label.form-radio
        input(type="radio")
        i.radio
        span select me
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <div class="form-group">
          <label class="form-switch">
            <input type="checkbox">
            <i class="switch"></i>
            <span>Toggle me</span>
          </label>
        </div>
        <div class="form-group">
          <label class="form-checkbox">
            <input type="checkbox">
            <i class="checkbox"></i>
            <span>Check me</span>
          </label>
        </div>
        <div class="form-group">
          <label class="form-radio mr-2">
            <input type="radio" name="radio-test">
            <i class="radio"></i>
            <span>Select me</span>
          </label>
          <label class="form-radio">
            <input type="radio" name="radio-test">
            <i class="radio"></i>
            <span>No me</span>
          </label>
        </div>
  h5.mt-5.text-uppercase Badges
  .example-frame
    h1 Headline 
      span.color-primary.badge-sm small Badge
      span.color-secondary.badge-sm.ml-1 small Badge
    p Text 
      span.color-primary.badge Badge
  h5.mt-5.text-uppercase Modals
  p To open a modal you need to add <code>.open</code> to the <code>.modal-container</code> element.
  a.btn.btn-primary(href='#my-modal' data-modal-button='') Open Modal
  #my-modal.modal-container
    .overlay
    .modal-content
      span.float-right.modal-close close
      h3
        | Modal Title
      p.mb-5
        | Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
      .text-right
        a.btn.btn-alt-primary.mr-1 No
        a.btn.btn-primary Okay
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <a class="btn btn-primary" href="#my-modal" data-modal-button>Open Modal</a>
        <div id="my-modal" class="modal-container">
          <div class="overlay"></div>
          <div class="modal-content">
            <span class="float-right modal-close">close</span>
            <h3>Modal Title</h3>
            <p class="mb-5">
            ...
            </p>
            <div class="text-right">
              <a class="btn btn-alt-primary mr-1">No</a>
              <a class="btn btn-primary">Okay</a>
            </div>
          </div>
        </div>
  h5.mt-5.text-uppercase List groups
  p Style elements as list groups with <code>.list-group</code> for the wrapper element and <code>.list-group-item</code> for item elements. To add rounded corners you can add utility-classes like <code>round</code> to the wrapper element. If the element is <code>a</code> or <code>button</code> there will be a hover effect.
  .list-group.round.my-3
    a.list-group-item(href='#') Item
    a.list-group-item.active(href='#') Active Item
    a.list-group-item(href='#') Item
    a.list-group-item(href='#') Item
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <div class="list-group round my-3">
            <a href="#" class="list-group-item">Item</a>
            <a href="#" class="list-group-item active">Active Item</a>
            <a href="#" class="list-group-item">Item</a>
            <a href="#" class="list-group-item">Item</a>
          </div>
  h5.mt-5.text-uppercase Dropdowns
  p To open the dropdown simply add <code>.open</code>-class to the <code>.dropdown</code>-wrapper element.
  .dropdown
    button.btn.btn-primary.dropdown-btn Dropdown
    .dropdown-list
      a.dropdown-list-item(href='#') Link 1
      a.dropdown-list-item(href='#') Link 2
      a.dropdown-list-item(href='#') Link 3
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <div class="dropdown">
          <button class="btn btn-primary dropdown-btn">Dropdown</button>
          <div class="dropdown-list">
            <a class="dropdown-list-item" href="#">Link 1</a>
            <a class="dropdown-list-item" href="#">Link 2</a>
            <a class="dropdown-list-item" href="#">Link 3</a>
          </div>
        </div>
  h5.mt-5.text-uppercase Accordions
  p Add the class open to <code>.accordion-item</code> to show its content.
  ul.accordion.round
    li.accordion-item
      .accordion-btn Item 1
      .accordion-content-wrapper
        .accordion-content.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
    li.accordion-item
      .accordion-btn Item 2
      .accordion-content-wrapper
        .accordion-content.
          Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <ul class="accordion round">
          <li class="accordion-item">
            <div class="accordion-btn">Item 1</div>
            <div class="accordion-content-wrapper">
              <div class="accordion-content">
                ...
              </div>
            </div>
          </li>
          <li class="accordion-item">
            <div class="accordion-btn">Item 2</div>
            <div class="accordion-content-wrapper">
              <div class="accordion-content">
                ...
              </div>
            </div>
          </li>
        </ul>
  h5.text-uppercase.mt-5 Avatars
  .example-frame
    figure.avatar.mr-1(data-initials="AB")
    figure.avatar.mr-1(data-initials="CD")
      img(src="https://source.unsplash.com/B4TjXnI0Y2c/100x100")
    figure.avatar.mr-1(data-initials="EF")
      img(src="https://source.unsplash.com/B4TjXnI0Y2c/100x100")
      .notification 1
    br
    br
    .avatar-group.mb-2
      figure.avatar(data-initials="AB")
        img(src="https://source.unsplash.com/B4TjXnI0Y2c/100x100")
      figure.avatar(data-initials="CD")
        img(src="https://source.unsplash.com/xe68QiMaDrQ/100x100")
      figure.avatar(data-initials="EF")
    .avatar-list-group.mb-3
      .avatar-list-item
        figure.avatar
          img(src='https://source.unsplash.com/B4TjXnI0Y2c/100x100')
        .avatar-info
          .absolute-y-center
            p.h4 User 1
            p Information
      .avatar-list-item
        figure.avatar
          img(src='https://source.unsplash.com/B4TjXnI0Y2c/100x100')
        .avatar-info
          .absolute-y-center
            p.h4 User 1
            p Information
      .avatar-list-item
        figure.avatar
          img(src='https://source.unsplash.com/B4TjXnI0Y2c/100x100')
        .avatar-info
          .absolute-y-center
            p.h4 User 1
            p Information
  pre.code(data-lang="html")
    code
      :highlight(lang="html")
        <figure class="avatar mb-1 mr-1" data-initials="AB">
          <img src="https://source.unsplash.com/B4TjXnI0Y2c/100x100">
          <div class="notification">1</div>
        </figure>
        <div class="avatar-group">
          ...
        </div>

        <div class="avatar-list-group mb-3">
          <div class="avatar-list-item">
            <figure class="avatar">
              <img src="https://source.unsplash.com/B4TjXnI0Y2c/100x100">
            </figure>
            <div class="avatar-info">
              <div class="absolute-y-center">
                <p class="h4">User 1</p>
                <p>Information</p>
              </div>
            </div>
          </div>
        </div>
