doctype html
html(lang='en')
  head
    meta(title="documentation")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="dist/style.css")
  body
    .nav-bar.position-fixed.bg-white.border-b
      .nav-bar-row
        .nav-bar-cell.text-left
          a(href="index.html" style="text-decoration: none;").h4.text-dark.text-bold Brisk.css
        .nav-bar-cell.text-right.menu-container
          .overlay
          button.menu-toggler
            .menu-icon.menu-style1.menu-icon-primary
          .menu-content.menu-from-right.float-right.border-l
            ul.menu-list
              - 
                var menu = { 
                  "Grid": "grid.html",
                  "Utilites": "utilities.html",
                  "Elements": "elements.html",
                  "Typography": "typography.html",
                }
              each val, index in menu
                li.menu-item
                  a(href=val).menu-link #{index}
    .mt-fixed-menu.py-2.container
      block content
      script.

        function addToggle(selector) {
          var togglers = document.querySelectorAll(selector);
          for (var i = 0; i < togglers.length; i++) {
            togglers[i].onclick = function() {
              this.parentElement.classList.toggle('open');
            }
          }
        }
        addToggle('.menu-toggler');
        addToggle('.menu-container .overlay');

        addToggle('.dropdown-btn');
        addToggle('.accordion-item .accordion-btn');

        function onClick(el, func, arg) {
          el.addEventListener('click', function (event) {

            func(event, arg);
          })
        }
        
        var modalButtons = document.querySelectorAll("[data-modal-button]");
        var modals = [];
        for (var i = 0; i < modalButtons.length; i++) {
          modals[i] = document.querySelector(modalButtons[i].getAttribute('href'));
          onClick(modals[i].querySelector('.overlay'), toggle, i);
          onClick(modals[i].querySelector('.modal-close'), toggle, i);
          onClick(modalButtons[i], toggle, i);
          //modals[i].querySelector('.overlay').onclick = toggle(i);
          //modals[i].querySelector('.modal-close').onclick = toggle(i);

          //modalButtons[i].onclick = toggle;

          function toggle(e, i) {
            console.log(e)
            e.preventDefault();
            modals[i].classList.toggle('open');
          }
        }
    include footer.pug
