extends layout.pug

block content
    h1.mt-3 Typography
    h5.mt-5.text-uppercase Headlines
    p Headlines <code>h1-h6</code> are available. You can also use it as classes.
        h1 Headline H1
        h2 Headline H2
        h3 Headline H3
        h4 Headline H4
        h5 Headline H5
        h6 Headline H6
    h5.mt-5.text-uppercase Tables
    p All tables have basic styling.
        table
            thead
                tr
                    th Some
                    th Table
                    th Header
            tbody
                tr
                    td Content
                    td Inside
                    td The table
                tr
                    td And another
                    td Row
                    td here
                tr
                    td Looks
                    td Pretty
                    td Doesn't it?
    h5.mt-5.text-uppercase Display Font Size
    p Apply the classes <code>display-&lt;1-5&gt;</code>. The sizes are fully responsive.
        h4.display-1 display-1
        h4.display-2 display-2
        h4.display-3 display-3
        h4.display-4 display-4
        h4.display-5 display-5
    h5.mt-5.text-uppercase More
    p Transforms and color-options can be found in <a href="utilities.html">utilities</a>.
