extends layout.pug

block content
  h1.my-3 Utilities
  p.mb-4 The Framework has some useful utility classes for margin, padding, height and width as well as things like shadow or even hover effects.
  h5 Margins
  p You can use the margins like <code>m&lt;direction&gt;-&lt;breakpoint&gt;-&lt;value&gt;</code>. Possible directions are l(left), r(right), t(top), b(bottom), x(horizontal), y(vertical). Values from <code>&lt;1-5&gt;</code> for default theme spacings, <code>10vw</code> and <code>20vw</code> for viewport-width and <code>auto</code>. If you put an <code>n</code> before the value like <code>mt-n5</code> the margin will be negative.
  .example-frame
    .row.border.round
      .col-2
        .example-light.mt-3 mt-3
      .col-2
        .example-light.mt-n3 mt-n3
      .col-2
        .example-light.ml-2 ml-2
  pre.code(data-lang="html").mb-4
    code
      :highlight(lang="html")
        <!-- Examples -->
        <div class="mb-4">...</div>
        <div class="m3 m-md-4 m-lg-10vw">...</div>
        <div class="ml-md-auto"></div>
        <div class="mt-sm-n3">This Element will have a negative margin and will overlapp the previous content from breakpoint sm and higher.</div>
  h5 Paddings
  p Paddings work exactly the same like margins. Except that they obviously can't have negative values.
  pre.code(data-lang="html").mb-4
    code
      :highlight(lang="html")
        <!-- Examples -->
        <div class="pb-1">...</div>
        <div class="py-2 px-4">...</div>
        <div class="pt-md-2 pt-sm-0">...</div>
  h5 Positioning
  p Available Position-Utilities are: <code>position-static</code>,<code>position-absolute</code>, <code>position-relative</code> and <code>position-fixed</code>. Use them combined with <code>top-0</code>, <code>bottom-0</code>, <code>left-0</code> and <code>right-0</code> to position elements.
  h5.mt-5 Text utilities
  p.mb-5 You have some classes to speed up the styling of texts. Use the classes <code>text-left</code>, <code>text-center</code> or <code>text-right</code> to align the text horizontally. It is also possible to transform the text with <code>text-uppercase</code>, <code>text-lowercase</code> and <code>text-capitalize</code>.
  h5 Colors
  p Use <code>text-&lt;color&gt;</code> to color text. Or <code>bg-&lt;color&gt;</code> to color the background of an element.
  .row.mb-5
    .col-4
      .bg-primary.round.text-white.p-2 primary
    .col-4
      .bg-secondary.round.text-white.p-2 secondary
    .col-4
      .bg-warning.round.text-white.p-2 warning
    .col-4
      .bg-danger.round.text-white.p-2 danger
    .col-4
      .bg-success.round.text-white.p-2 success
    .col-4
      .bg-dark.round.text-white.p-2 dark
  h5 Shadows
  p There are two box-shadow options for your elements provided: <code>shadow</code><code>shadow-lg</code>
  button.btn.btn-primary.shadow.mr-1 shadow
  button.btn.btn-primary.shadow-lg.mb-5 shadow-lg
  h5 Hover effects
  p use <code>hover-up</code> or <code>hover-shadow</code> for hover effects.
  button.btn.btn-primary.hover-up.mr-1 hover-up
  button.btn.btn-primary.hover-shadow.mr-1 hover-shadow
  button.btn.btn-primary.hover-shadow.hover-up combined
  h5.mt-5 Cursors
  p use <code>.cursor-default</code>, <code>.cursor-move</code>, <code>.cursor-pointer</code>,
  button.btn.btn-primary.mr-1.cursor-move cursor-move
  button.btn.btn-primary.mr-1.cursor-pointer cursor-pointer
  button.btn.btn-primary.mr-1.cursor-default cursor-default
      
  
