@mixin make-col($size, $columns) {
  width: percentage( $size / $columns );
  min-height: 1px;
  max-width: percentage( $size / $columns );
  float: left;
  padding-left: $gutter-width / 2;
  padding-right: $gutter-width / 2;
  margin-bottom: $gutter-width;
}

@mixin make-offset($size, $columns) {
  margin-left: percentage( $size / $columns ) !important;
}
