extends layout.pug

block content
  .mt-fixed-menu.py-2.container
    .row
      .col-6
        .bg-light.round.p-3.
          This will be a documentation.
      .col-6
        .bg-light.round.p-3
          h1.text-uppercase brisk.css is nicer
