extends layout.pug

block content
  .mt-fixed-menu.py-2.container
      .row
        .col-8.m-auto.text-center.py-10vw
          h1.mb-4.display-2.text-uppercase brisk<span class="text-primary">.css</span>
          p.intro.
            is honestly just another CSS-Framework. Simple and modern. This site will be a documentation but for now there are just a few hints how to use <b> brisk.css</b>...
          a(href="https://github.com/tdesero/brisk.css").btn.btn-lg.btn-primary.mr-1.mb-2 Github
          a(href="https://cdn.jsdelivr.net/gh/tdesero/brisk.css/dist/brisk.css").btn.btn-lg.btn-alt-primary CDN
          p
            small.text-gray-2.
              The CDN should only be used for a quick try-out. The Framework is not finished yet.
      .row
        .col-12
          h4.text-uppercase.my-3 Navigation
          div(style="z-index: 0").nav-bar.bg-light
            .menu-container.expand-md.overlay
              span.h3.logo.float-left logo
              button.menu-toggler.float-right
                .menu-icon.menu-style1.menu-icon-primary
              .menu-content.menu-from-left.bg-white.float-right
                ul.menu-list
                  li.menu-item: a.menu-link Link 1
                  li.menu-item: a.menu-link Link 2
                  li.menu-item: a.menu-link Link 3
          pre.bg-light.round.p-2.code
            code
              :highlight(lang="html")
                <div class="nav-bar bg-light">
                  <div class="menu-container expand-md overlay">
                    <span class="h3 logo float-left">Logo</span>
                    <button class="menu-toggler float-right">
                      <div class="menu-icon menu-style1 menu-icon-primary"></div>
                    </button>
                    <div class="menu-content menu-from-left bg-white float-right">
                      <!-- this is where all the content goes -->
                      <ul class="menu-list">
                        <li class="menu-item"><a href="#">Link 1</a></li>
                        <li class="menu-item"><a href="#">Link 2</a></li>
                        <li class="menu-item"><a href="#">Link 3</a></li>
                      </ul>
                    </div>
                  </div>
                </div>
          p If you want to use a fixed navigation with "position-fixed", use "mt-fixed-menu" for yout content.
          pre.bg-light.round.p-2.code
            code
              :highlight(lang="html")
                <div class="nav-bar bg-light position-fixed">
                  <!-- your menu -->
                </div>
                <div class="mt-fixed-menu container">
                  <!-- your content -->
                </div>
          h4.text-uppercase.my-3 Utilitities
          p Some examples of Utility Classes for margin, padding, border and border-radius(= round). Margin and padding can be used together with breakpoints.
          pre.bg-light.round.p-2.code
            code
              :highlight(lang="html")
                <div class="mb-sm-2 py-3 border-l round">
                  Vertical Padding 3 and Margin Bottom 2 for breakpoint sm and up
                </div>
          p Some hover utilities:
          button.btn.btn-primary.hover-up.mr-1 .hover-up
          button.btn.btn-primary.hover-shadow.mr-1 .hover-shadow
          h4.text-uppercase.my-3 Buttons
          button.btn.btn-primary.mr-1 Primary
          button.btn.btn-secondary.mr-1 Secondary
          button.btn.btn-success.mr-1 success
          button.btn.btn-warning.mr-1 warning
          button.btn.btn-danger.mr-1 danger
          br
          button.btn.btn-alt-primary.mr-1 Primary
          button.btn.btn-alt-secondary.mr-1 Secondary
          button.btn.btn-alt-success.mr-1 success
          button.btn.btn-alt-warning.mr-1 warning
          button.btn.btn-alt-danger.mr-1 danger
          .btn-group.mb-1
            button.btn.btn-primary Group
            button.btn.btn-alt-secondary Group
            button.btn.btn-alt-secondary Group
          p Code Example:
          pre.bg-light.round.p-2.code
            code
              :highlight(lang="html")
                <div class="btn-group mb-2">
                  <button class="btn btn-primary">btn-primary</button>
                  <button class="btn btn-alt-secondary">btn-secondary</button>
                  <button class="btn btn-alt-secondary">btn-secondary</button>
                </div>
          h4.text-uppercase.my-3 Grid
          p It has 3 Breakpoints (sm 600px, md 800px, lg 1200). Always use a ".row" and put your columns in there.
          .row.my-2
            .col-md-6
              .bg-light.p-2 .col-md-6
            .col-md-3
              .bg-light.p-2 .col-md-3
            .col-md-3
              .bg-light.p-2 .col-md-3
          pre.bg-light.round.p-2.code
            code
              :highlight(lang="html")
                <div class="row">
                  <div class="col-md-6">
                  <div class="col-md-3">
                  <div class="col-md-3">
                </div>
          h4.text-uppercase.my-3 Form
          .form-group.w-50
            label.form-label Label
            input.form-input(placeholder="Placeholder")
          .form-group.form-input-light.w-50
            label.form-label Label
            input(placeholder="Placeholder")
          .form-group.w-50
            label.form-switch
              input(type="checkbox")
              i.switch
              span toggle me
          .form-group.w-50
            label.form-checkbox
              input(type="checkbox")
              i.checkbox
              span check me
          .form-group.w-50
            label.form-radio
              input(type="radio")
              i.radio
              span select me
          pre.bg-light.round.p-2.code
            code
              :highlight(lang="html")
                <div class="form-group">
                  <label class="form-switch">
                    <input type="checkbox">
                    <i class="switch"></i>
                    <span>Toggle me</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="form-checkbox">
                    <input type="checkbox">
                    <i class="checkbox"></i>
                    <span>Check me</span>
                  </label>
                </div>
                <div class="form-group">
                  <label class="form-radio mr-2">
                    <input type="radio" name="radio-test">
                    <i class="radio"></i>
                    <span>Select me</span>
                  </label>
                  <label class="form-radio">
                    <input type="radio" name="radio-test">
                    <i class="radio"></i>
                    <span>No me</span>
                  </label>
                </div>
  script.
    var togglers = document.querySelectorAll('.menu-toggler');
    for (var i = 0; i < togglers.length; i++) {
      togglers[i].onclick = function() {
        this.parentElement.classList.toggle('open');
        document.querySelector('body').classList.toggle('menu-open-right')
      }
    }
