doctype html
html(lang='en')
  head
    meta(title="documentation")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet" type="text/css" href="css/brisk.css")
    link(rel="stylesheet" type="text/css" href="css/syntax.css")
  body
    .nav-bar.position-fixed.bg-white.border-b
      .menu-container
        .float-left
          h1.h4.logo.mt-1.mb-0.text-secondary brisk.css
        .float-right
          a(href="https://github.com/tdesero/brisk.css").btn.btn-alt-primary.mb-0 Github      
    block content
    include footer.pug
