doctype html
html(lang='en')
  head
    meta(title="documentation")
    link(rel="stylesheet" type="text/css" href="css/brisk.css")
    link(rel="stylesheet" type="text/css" href="https://highlightjs.org/static/demo/styles/atelier-cave-dark.css")
  body
    .nav-bar.position-fixed.bg-white.border-b
      .menu-container
        h1.h4.logo.float-left.m-0.text-primary brisk.css
    block content
