doctype html
html(lang='en')
  head
    meta(title="documentation")
    link(rel="stylesheet" type="text/css" href="../dist/brisk.css")
  body
    .nav-bar.position-fixed.bg-light
      .menu-container.overlay
        h1.h4.logo.float-left.m-0 brisk.css
        button.menu-toggler.float-right
          .menu-icon.menu-style1.menu-icon-primary
    block content
