doctype html
html(lang='en')
  head
    meta(title="documentation")
    link(rel="stylesheet" type="text/css" href="css/brisk.css")
    link(rel="stylesheet" type="text/css" href="css/syntax.css")
  body
    .nav-bar.position-fixed.bg-white.border-b
      .menu-container
        h1.h4.logo.float-left.m-0.text-primary brisk.css
        a(href="https://github.com/tdesero/brisk.css").float-right Github
    block content
