html {
  font-size: $font-base-size;
  font-family: $font-family;
  line-height: $line-height;
  color: $base-text-color;
}

.font-alt {
  font-family: $font-family-alt;
}

//add some default margins to all typo-elements
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2.25rem;
}

h2, .h2 {
  font-size: 2rem;
}

h3, .h3 {
  font-size: 1.75rem;
}

h4, .h4 {
  font-size: 1.5rem;
}

h5, .h5 {
  font-size: 1.25rem;
}

h6, .h6 {
  font-size: 1rem;
}

p {
  font-size: 1rem;
}

a {
  color: $primary;
  text-decoration: none;
}

ul {
  padding: 0;
  margin: $spacer 0 $spacer $spacer;
  list-style: disc inside;
  li {
    margin-bottom: $spacer/2;
  }
  ul {
    list-style-type: circle;
  }
}

/* table style */
table {
  width: 100%;
  max-width: 100%;
  border-collapse: collapse;
  text-align: left;
  margin-bottom: $spacer;
}

th, td {
  border-bottom: $border-width solid $border-color;
  padding: $spacer/2;
}

thead th {
  background-color: $light;
}

blockquote {
  border-left: .15rem solid $border-color;
  margin-left: 0;
  margin-right: 0;
  padding: $spacer $spacer*2;
}

//Inline Elements

mark {
  background-color: mix($warning, $white, 25%);
  padding: 0.1em 0.2em;
  border-radius: $border-radius;
}

small {
  font-size: 0.75em;
}

b, strong {
  font-weight: bold;
}

//Display-sizes

.display-1 {
  font-size: calc(#{$display-font-size1} + 2.25rem);
}
.display-2 {
  font-size: calc(#{$display-font-size2} + 2rem);
}
.display-3 {
  font-size: calc(#{$display-font-size3} + 1.75rem);
}
.display-4 {
  font-size: calc(#{$display-font-size4} + 1.5rem);
}
.display-5 {
  font-size: calc(#{$display-font-size5} + 1.25rem);
}

//intro

.text-intro {
  font-size: 1.5rem;
  margin-top: $spacer*2;
  margin-bottom: $spacer*2;
}