html {
  font-size: $font-base-size;
  font-family: $font-family;
  line-height: $line-height;
}

.font-alt {
  font-family: $font-family-alt;
}

//add some default margins to all typo-elements
h1, h2, h3, h4, h5, h6, p {
  margin-top: 0;
  margin-bottom: 1rem;
}

h1, .h1 {
  font-size: 2rem;
}

h2, .h2 {
  font-size: 1.75rem;
}

h3, .h3 {
  font-size: 1.5rem;
}

h4, .h4 {
  font-size: 1.25rem;
}

h5, .h5 {
  font-size: 1rem;
}

h6, .h6 {
  font-size: .75rem;
}

p, a {
  font-size: 1rem;
}
