.clearfix {
  @include clearfix;
}

/*--------------
  Text
--------------*/

@each $align in $text-align {
  .text-#{$align} {
    text-align: $align !important;
  }
}

@each $transform in $text-transform {
  .text-#{$transform} {
    text-transform: $transform !important;
  }
}

/*--------------
  Color
--------------*/

@each $name, $color in $colors {
  .text-#{$name} {
    color: $color !important;
  }
  .bg-#{$name} {
    background-color: $color !important;
  }
  .color-#{$name} {
    color: $color !important;
    background-color: mix($color, $white, 12%) !important;
  }
}

/*--------------
  Spacing
--------------*/

/* Generate margins base */
@each $space-name, $space in $spacers {
  //regular margins:
  @include spacing-utils('margin', 'm', $space-name, $space);
  //negativ margins:
  @include spacing-utils('margin', 'm', n#{$space-name}, $space *-1);
}
//auto margins:
@include spacing-utils('margin', 'm', auto, auto);

/* Generate margins for $breakpoints */
@each $bp-name, $bp-size in $breakpoints {
  @media only screen and (min-width: $bp-size) {
    @each $space-name, $space in $spacers {
      //regular margins:
      @include spacing-utils('margin', 'm', #{$bp-name}-#{$space-name}, $space);
      //negativ margins:
      @include spacing-utils('margin', 'm', #{$bp-name}-n#{$space-name}, $space * -1);
    }
    //auto margins:
    @include spacing-utils('margin', 'm', #{$bp-name}-auto, auto);
  }
}

/* Generate paddings base */
@each $space-name, $space in $spacers {
  @include spacing-utils('padding', 'p', $space-name, $space);
}

/* Generate paddings for $breakpoints */
@each $bp-name, $bp-size in $breakpoints {
  @media only screen and (min-width: $bp-size) {
    @each $space-name, $space in $spacers {
      @include spacing-utils('padding', 'p', #{$bp-name}-#{$space-name}, $space);
    }
  }
}

/*--------------
  Height
--------------*/

@each $height-name, $height in $heights {
  .h-#{$height-name} {
    height: $height !important;
  }
}

/* Generate heights for $breakpoints */
@each $bp-name, $bp-size in $breakpoints {
  @media only screen and (min-width: $bp-size) {
    @each $height-name, $height in $heights {
      .h-#{$bp-name}-#{$height-name} {
        height: $height !important;
      }
    }
  }
}

/*--------------
  Width
--------------*/

@each $width-name, $width in $widths {
  .w-#{$width-name} {
    width: $width !important;
  }
}

/* Generate heights for $breakpoints */
@each $bp-name, $bp-size in $breakpoints {
  @media only screen and (min-width: $bp-size) {
    @each $width-name, $width in $widths {
      .w-#{$bp-name}-#{$width-name} {
        width: $width !important;
      }
    }
  }
}

/*--------------
  Display properties
--------------*/

@each $display-prop in $display-props {
  .display-#{$display-prop} {
    display: #{$display-prop} !important;
  }
}

//hide with "display: none" for all breakpoints up & down
@each $bp-name, $bp-size in $breakpoints {
  @media only screen and (min-width: $bp-size) {
    .hide-#{$bp-name}-up {
      display: none !important;
    }
  }
  @media only screen and (max-width: $bp-size - 0.02) {
    .hide-#{$bp-name}-down {
      display: none !important;
    }
  }
}

/*--------------
  Positioning
--------------*/

@each $position-prop in $position-props {
  .position-#{$position-prop} {
    position: #{$position-prop} !important;
  }
}

.top-0 {
  top: 0 !important;
}

.bottom-0 {
  bottom: 0 !important;
}

.left-0 {
  left: 0 !important;
}

.right-0 {
  right: 0 !important;
}

/*--------------
  Borders
--------------*/

.border-0 {
  border: 0 !important;
}
.border {
  border: $border-width solid $border-color !important;
}
.border-l {
  border-left: $border-width solid $border-color !important;
}
.border-r {
  border-right: $border-width solid $border-color !important;
}
.border-t {
  border-top: $border-width solid $border-color !important;
}
.border-b {
  border-bottom: $border-width solid $border-color !important;
}

/*--------------
  Shadows
--------------*/

.shadow {
  box-shadow: 0 0.25rem 0.75rem -0.25rem rgba(0,0,0,0.3);
}

.shadow-lg {
  box-shadow: 0px 0.5rem 2rem -0.25rem rgba(0,0,0,0.3);
}

/*--------------
  Border-radius
--------------*/

.round {
  border-radius: $border-radius !important;
}
.round-r {
  border-radius: 0 $border-radius $border-radius 0 !important;
}
.round-l {
  border-radius: $border-radius 0 0 $border-radius !important;
}
.round-t {
  border-radius: $border-radius $border-radius 0 0 !important;
}
.round-b {
  border-radius: 0 0 $border-radius $border-radius !important;
}

/*--------------
  Hover Effects
--------------*/

.hover-shadow {
  @extend .shadow;
  transition:
    #{$hover-duration} transform,
    #{$hover-duration} box-shadow;
  &:hover {
    @extend .shadow-lg;
  }
}

.hover-up {
  transition:
    #{$hover-duration} transform,
    #{$hover-duration} box-shadow;
  &:hover {
    transform: translateY(-3px);
  }
}

/*--------------
  Other Utilities
--------------*/

.disabled {
  opacity: 0.5;
}

.no-pseudo {
  &::after {
    content: unset !important;
  }
  &::before {
    content: unset !important;
  }
}

.float-left {
  float: left !important;
}

.float-right {
  float: right !important;
}

.absolute-center {
  position: absolute !important;
  top: 50% !important;
  left: 50% !important;
  transform: translate(-50%, -50%) !important;
}

.absolute-y-center {
  position: absolute !important;
  top: 50% !important;
  transform: translate(0, -50%) !important;
}

.absolute-x-center {
  position: absolute !important;
  left: 50% !important;
  transform: translate(-50%, 0) !important;
}

/*--------------
  Cursors
--------------*/

$cursors: default, move, pointer;

@each $type in $cursors {
  .cursor-#{$type} {
    cursor: $type !important;
  }
}

/*--------------
  Overflow
--------------*/

.overflow-hidden {
  overflow: hidden !important;
}