/* --------------
    COLORS
-------------- */

//$primary: #27d679 !default;
$primary: #363bd2 !default;
$secondary: #4f5a63 !default;
$white: #FFFFFF !default;
$dark: #000000 !default;
$light: #F5F5F5 !default;
$danger: #f55718 !default;
$success: #8ac902 !default;
$warning: #f0ac0e !default;
$gray-1: #DDD !default;
$gray-2: #999 !default;
$gray-3: #666 !default;
$gray-4: #333 !default;

$colors: (
  "primary": $primary,
  "secondary": $secondary,
  "white": $white,
  "dark": $dark,
  "light": $light,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "gray-1": $gray-1,
  "gray-2": $gray-2,
  "gray-3": $gray-3,
  "gray-4": $gray-4,
) !default;

/* --------------
    Typography
-------------- */
$font-base-size: 16px !default;
$font-family: sans-serif !default;
$font-family-alt: serif !default;
$line-height: 1.5 !default;
$display-font-size1: 5vw;
$display-font-size2: 4.5vw;
$display-font-size3: 4vw;
$display-font-size4: 3.5vw;
$display-font-size5: 3vw;

/* --------------
    UTILITIES
-------------- */

/* spacing utilities */
$spacer: 1rem !default;
$spacers: (
  0: 0,
  1: $spacer * 0.5,
  2: $spacer * 1,
  3: $spacer * 1.5,
  4: $spacer * 2.5,
  5: $spacer * 4,
  10vw: 10vw,
  20vw: 20vw,
) !default;

/* heights */
$heights: (
  0: 0%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  25vh: 25vh,
  50vh: 50vh,
  75vh: 75vh,
  100vh: 100vh,
  25vw: 25vw,
  50vw: 50vw,
) !default;

/* widths */
$widths: (
  0: 0%,
  25: 25%,
  50: 50%,
  75: 75%,
  100: 100%,
  25vw: 25vw,
  50vw: 50vw,
  75vw: 75vw,
  100vw: 100vw,
) !default;

/* text utilities */
$text-align: right, center, left !default;
$text-transform: uppercase, lowercase, capitalize !default;

/* display utilities */
$display-props: none, table, table-cell, inline, inline-block, block, flex !default;

/* position utilities */
$position-props: absolute, fixed, relative, static !default;

/* border */
$border-color: map-get($colors, "gray-1") !default;
$border-width: 1px !default;
$border-radius: 0.3rem !default;

/* hover and state effects */
$hover-duration: .5s !default;

/* --------------
    GRID
-------------- */
$grid-columns: 12;
$breakpoints: (
  "sm": 600px,
  "md": 800px,
  "lg": 1200px
) !default;
$gutter-width: map-get($spacers, 1) !default;
$container-max-width: 900px;

/* MENU */
$nav-bar-height: $spacer * 4 !default;
$menu-toggler-size: 26px !default;
$menu-duration: .5s !default;
$side-menu-width: 300px !default;

/* Buttons */
$button-text-white: map-get($colors, "white") !default;
$button-text-dark: map-get($colors, "dark") !default;
$button-focus-width: 0.15rem !default;

/* --------------
    ELEMENTS
-------------- */

$avatar-size: 3.5rem;